@model Element

<h1>Find Element</h1>

@using (Html.BeginForm("FindElement", "Element", FormMethod.Post))
{
    <label for="name">Element Name:</label>
    <input type="text" id="name" name="name" />
    <button type="submit">Search</button>
}

@if(Model != null){
    <h2>Element Details</h2>
    <p>Name: @Model.Name</p>
    <p>Valence: @Model.Valence</p>
    <p>Atomic Mass: @Model.AtomicMass</p>
}

