<!DOCTYPE html>
<html>
  <head>
    <title>Chemical Equipment Gallery</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Chemical Equipment Gallery</h1>
    <div class="gallery">
      <div class="gallery-item">
        <img src="~/pictures/Distillation Apparatus.jpg" alt="Distillation Apparatus">
        <div class="gallery-item-name">Distillation Apparatus</div>
      </div>
      <div class="gallery-item">
        <img src="~/pictures/Bunsen Burner.jpg" alt="Bunsen Burner">
        <div class="gallery-item-name">Bunsen Burner</div>
      </div>
      <div class="gallery-item">
        <img src="~/pictures/Erlenmeyer Flask.jpg" alt="Erlenmeyer Flask">
        <div class="gallery-item-name">Erlenmeyer Flask</div>
      </div>
      <div class="gallery-item">
        <img src="~/pictures/beaker.jpg" alt="Beaker">
        <div class="gallery-item-name">Beaker</div>
      </div>
      <div class="gallery-item">
        <img src="~/pictures/Hotplate Stirrer.png" alt="Magnetic Stirrer">
        <div class="gallery-item-name">Magnetic Stirrer</div>
      </div>
    </div>
  </body>
</html>


<style>
       .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 10px;
  text-align: center;
}

.gallery-item img {
  width: 150px;
  height: 150px;
}

.gallery-item-name {
  margin-top: 5px;
  font-weight: bold;
}

</style>
   