@model ImageResultViewModel

<h1>Draw reactions</h1>
<p>An example for an input: H2O</p>
<form method="post" action="@Url.Action("SubmitDrawRequest", "Model")">
    <label for="mf">Molecular Formula:</label>
    <input type="text" id="mf" name="mf" />

    <button type="submit">Submit</button>
</form>

@if (Model != null)
{
    <h2>Image Result</h2>
    <p><strong>Response Image:</strong></p>
    <img src="@Model.ImageUrl" alt="Response Image" />
}
