@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our AI Model That Can Help You Study Faster</h1>
    <a href="@Url.Action("GetCompoundData", "Model")" class="btn btn-primary"> <i class="fa-solid fa-atom fa-xl p-1"></i>Get Compound</a>
    <a href="@Url.Action("PostReactions", "Model")" class="btn btn-primary"> <i class="fa-brands fa-hubspot fa-xl p-1"></i>Post Reactions</a>
    <a href="@Url.Action("DrawMolecule", "Model")" class="btn btn-primary"><i class="fa-solid fa-paintbrush fa-xl p-1"></i>Draw Molecule</a>
    <a href="@Url.Action("PostRetrosyntheses", "Model")" class="btn btn-primary"> <i class="fa-solid fa-bezier-curve fa-xl p-1"></i>Retrosyntheses</a>
</div>
